body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black; 
    color: silver;
    text-shadow: 0 0 1px white;
    
  }
h1 {
  font-style: italic;
  font-family: 'Allura', cursive;
  letter-spacing: 3px;
  font-size: 30px;
  
  
}
h2, h3 {
  font-family: 'Allura', cursive;
  letter-spacing: 3px;
  margin: 15px 0 10px 0;
}

ul {
  list-style-type: circle; /* Options: disc, circle, square, none */
}

section {
  opacity: 0; /* Initially hidden */
  transform: translateX(100px);
  transition: opacity 1s ease, transform 1s ease;
}

section.active {
  opacity: 1; /* Make content visible */
  transform: translateX(0); /* Slide in smoothly */
}

.card {
  width: auto;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  background: #000000;
  margin: 3rem 0;
  box-shadow: 15px 15px 30px rgba(50, 5, 99, 0.427),
              -15px -15px 30px rgb(64, 0, 109);
 }


.combined-hr {
  border: none;
  border-radius: 10px;
  height: 1px;
  background: linear-gradient(to right, #ff4141, #c300ff, #4704ff); 
  background-size: 200% 100%; 
  animation: moveGradient 3s infinite linear, pulseGlow 1.5s infinite alternate; 
  box-shadow: 0 0 10px 2px #ffffff; 
}


@keyframes moveGradient {
  0% {
      background-position: -200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}


@keyframes pulseGlow {
  0% {
      box-shadow: 0 0 10px 2px #f70303;
  }
  50% {
      box-shadow: 0 0 10px 2px #e500fe;
  }
  100% {
      box-shadow: 0 0 20px 5px #4000ff;
  }
}



  .sidebar {
    margin: 0;
    width: 7.5rem;
    background: transparent;
    position: fixed;
    height: 100%;
    text-align: center;
  }
  
  .sidebar a {
    padding: 16px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    backdrop-filter: blur(1rem);
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: inset 1px transparent;
    background-image: linear-gradient(#161a25, #161a25),
      linear-gradient(
        137.48deg,
        #82167f 10%,
        #1f0019 45%,
        #2e0587 67%,
        #3700fd 87%
      );
    background-origin: content-box;
    background-clip: content-box, border-box;
  }
  
  .sidebar img {
    width: 100%;
    margin-bottom: 12px;
  }
  
  #main {
    margin: 0 5rem 0 10rem;
    padding: 16px;
  }
  
  .center {
    text-align: center;
    padding: 32px;
  }

  .container {
    padding: 32px;
    background-color: transparent;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  }


 /* button From Uiverse.io by rubyreapergaming begin*/ 

@import url("s://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

.btn, .form-button, .form-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#161a25, #161a25),
    linear-gradient(
      137.48deg,
      #82167f 10%,
      #1f0019 45%,
      #2e0587 67%,
      #3700fd 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: "Orbitron", sans-serif;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 0;
}

strong {
  z-index: 2;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 0 0 4px whitesmoke;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: orbit 5s linear infinite;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  
  filter: blur(2rem);
}

.circle:nth-of-type(1) {
  background: rgba(245, 67, 79, 0.636);
  animation: orbit 8s linear infinite;
}

.circle:nth-of-type(2) {
  background: rgba(99, 30, 41, 0.704);
  animation: orbit 10s linear infinite;
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #161a25;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #631e29;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #631e29;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*button end */
  
.icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 2rem;
}
.icon {
  font-size: 3rem; /* Adjust size */
}
.icon-label {
  margin-top: 10px;
  font-size: 1rem;
}
  
  .text-var {
    color: lightgrey;
    font-variant: small-caps;
    
  }



  i {
    z-index: 2;
    font-family: "Orbitron", sans-serif;
    font-size: 12px;
    color: white;
    
  }

  .auto{
    width: auto;
  }
  
  .form-input {
    z-index: 2;
    width: 100%;
    max-width: 600px;
    margin-bottom: 16px;
    font-family: "Orbitron", sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    border-width: 2px;
  }

  .social-icons {
    font-size: 12px;
  }
  
  .social-icons i {
    margin-right: 16px;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    opacity: 0.7;
    border: outset 4px #631e29;
    background-origin: border-box;
    
  }
  


  @media only screen and (max-width: 600px) {

    .sidebar {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      padding: 0;
    }
  
    .sidebar img {
      display: none;
    }

    .sidebar i {
        display: none;
      }
  
    .sidebar a {
      font-size: 16px;
      padding: 12px;
    }

    h1 {
      font-size: 18px;
    }
  
    #main {
      margin: 0 1rem 0 1rem;
    }
  }

  
 
