/* Container setup */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

/* Main loader class */
.loader {
  position: relative;
  width: 50px; /* Width of the loader */
  height: 60px; /* Height of the loader */
}

/* Creating a hexagonal border ring */
.hexagon {
  position: absolute;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: conic-gradient(
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet,
    red
  );
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  ); /* Hexagonal shape */
  animation: rotate 750ms linear infinite; /* Continuous rotation */
}

/* Inner hollow effect */
.loader .hexagon::before {
  content: "";
  position: absolute;
  top: 15%; /* Adjust for inner size */
  left: 15%; /* Adjust for inner size */
  right: 15%; /* Adjust for inner size */
  bottom: 15%; /* Adjust for inner size */
  background: black; /* Match the loader container background */
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  ); /* Same hexagonal shape */
}

/* Rotate animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



body, h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: darkgray;
  }
h1 {
  font-style: italic;
  font-family: 'Allura', cursive;
  letter-spacing: 3px;
  font-size: 24px;
  
  
}
h2, h3 {
  
  font-family: 'Allura', cursive;
  letter-spacing: 3px;
  

}

  .sidebar {
    margin: 0;
    width: 120px;
    background: transparent;
    position: fixed;
    height: 100%;
    text-align: center;
  }
  
  .sidebar a {
    padding: 16px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 18px;
  }
  
  .sidebar a:hover {
    backdrop-filter: blur(1rem);
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: inset 1px transparent;
    background-image: linear-gradient(#161a25, #161a25),
      linear-gradient(
        137.48deg,
        #82167f 10%,
        #1f0019 45%,
        #2e0587 67%,
        #3700fd 87%
      );
    background-origin: content-box;
    background-clip: content-box, border-box;
  }
  
  .sidebar img {
    width: 100%;
    margin-bottom: 12px;
  }
  
  #main {
    margin: 0 8vw 0 18vw;
    padding: 16px;
  }
  


  @media only screen and (max-width: 600px) {

    .sidebar {
      position: relative;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-around;
      padding: 0;
    }
  
    .sidebar img {
      display: none;
    }

    .sidebar i {
        display: none;
      }
  
    .sidebar a {
      font-size: 16px;
      padding: 12px;
    }
  
    #main {
      margin-left: 1vw;
    }
  }

  .center {
    text-align: center;
    padding: 32px;
  }

  .container {
    padding: 32px;
    background-color: transparent;
    height: 100%;
    --color: rgba(114, 114, 114, 0.3);
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
  }
  
 /* button From Uiverse.io by rubyreapergaming begin*/ 

@import url("s://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap");

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#161a25, #161a25),
    linear-gradient(
      137.48deg,
      #82167f 10%,
      #1f0019 45%,
      #2e0587 67%,
      #3700fd 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-family: "Orbitron", sans-serif;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 0;
}

strong {
  z-index: 2;
  font-family: "Orbitron", sans-serif;
  font-size: 12px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 0 0 4px whitesmoke;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle-container {
  position: relative;
  width: 100%;
  height: 100%;
  animation: orbit 5s linear infinite;
}

.circle {
  position: absolute;
  width: 30px;
  height: 30px;
  
  filter: blur(2rem);
}

.circle:nth-of-type(1) {
  background: rgba(245, 67, 79, 0.636);
  animation: orbit 8s linear infinite;
}

.circle:nth-of-type(2) {
  background: rgba(99, 30, 41, 0.704);
  animation: orbit 10s linear infinite;
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #161a25;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #631e29;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #631e29;
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(100px) rotate(-360deg);
  }
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*button end */
  
  .skills {
    background-color: white;
    height: 28px;
    max-width: 800px;
    overflow: hidden;
  }
  
  .skill-bar {
    background-color: darkgrey;
    height: 28px;
    transition: width 5s ease-in-out;
  }
  
   /* Use keyframes for animations */
   @keyframes fill {
    from {
    width: 0;
    }
    to {
     /* Full width on animation completion */
    }
   }

   /* Apply animation to the skill bars */
  .skill-bar, hr {
    animation: fill 2s forwards;
  }

  .text-grey {
    color: grey;
    
  
  }
  
  .text-light-grey {
    color: lightgrey;
    font-variant: small-caps;
    
  }
  
  .wide {
    width: 100%;
  }
  
  hr {
    border: 0;
    border-top: 3px double rgb(255, 255, 255);
    width: 100%;
    margin: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .form-input {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    margin-bottom: 16px;
    background-color: black;
    border: 1px solid grey;
    color: white;
  }
  
  .form-button {
    background-color: lightgrey;
    padding: 16px;
    color: black;
    border: none;
  }
  
  .social-icons {
    font-size: 16px;
  }
  
  .social-icons i {
    margin-right: 16px;
    cursor: pointer;
  }
  
  .social-icons i:hover {
    opacity: 0.7;
  }
  
 
 .theme-switch {
  --toggle-size: 15px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
     --container-width: 5.625em;
     --container-height: 2.5em;
     --container-radius: 6.25em;
     /* radius 0 - minecraft mode :) */
     --container-light-bg: #3D7EAE;
     --container-night-bg: #1D1F2C;
     --circle-container-diameter: 3.375em;
     --sun-moon-diameter: 2.125em;
     --sun-bg: #ECCA2F;
     --moon-bg: #C4C9D1;
     --spot-color: #959DB1;
     --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
     --stars-color: #fff;
     --clouds-color: #F3FDFF;
     --back-clouds-color: #AACADF;
     --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
     --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
   }
   
   .theme-switch, .theme-switch *, .theme-switch *::before, .theme-switch *::after {
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0 0 0 1rem;
     padding: 10px;
     font-size: var(--toggle-size);
   }
   
   .theme-switch__container {
     width: var(--container-width);
     height: var(--container-height);
     background-color: var(--container-light-bg);
     border-radius: var(--container-radius);
     overflow: hidden;
     cursor: pointer;
     -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
     box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
     -webkit-transition: var(--transition);
     -o-transition: var(--transition);
     transition: var(--transition);
     position: relative;
   }
   
   .theme-switch__container::before {
     content: "";
     position: absolute;
     z-index: 1;
     inset: 0;
     -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
     box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
     border-radius: var(--container-radius)
   }
   
   .theme-switch__checkbox {
     display: none;
   }
   
   .theme-switch__circle-container {
     width: var(--circle-container-diameter);
     height: var(--circle-container-diameter);
     background-color: rgba(255, 255, 255, 0.1);
     position: absolute;
     left: var(--circle-container-offset);
     top: var(--circle-container-offset);
     border-radius: var(--container-radius);
     -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
     box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-transition: var(--circle-transition);
     -o-transition: var(--circle-transition);
     transition: var(--circle-transition);
     pointer-events: none;
   }
   
   .theme-switch__sun-moon-container {
     pointer-events: auto;
     position: relative;
     z-index: 2;
     width: var(--sun-moon-diameter);
     height: var(--sun-moon-diameter);
     margin: auto;
     border-radius: var(--container-radius);
     background-color: var(--sun-bg);
     -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
     box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
     -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
     filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
     overflow: hidden;
     -webkit-transition: var(--transition);
     -o-transition: var(--transition);
     transition: var(--transition);
   }
   
   .theme-switch__moon {
     -webkit-transform: translateX(100%);
     -ms-transform: translateX(100%);
     transform: translateX(100%);
     width: 100%;
     height: 100%;
     background-color: var(--moon-bg);
     border-radius: inherit;
     -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
     box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
     -webkit-transition: var(--transition);
     -o-transition: var(--transition);
     transition: var(--transition);
     position: relative;
   }
   
   .theme-switch__spot {
     position: absolute;
     top: 0.75em;
     left: 0.312em;
     width: 0.75em;
     height: 0.75em;
     border-radius: var(--container-radius);
     background-color: var(--spot-color);
     -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
     box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
   }
   
   .theme-switch__spot:nth-of-type(2) {
     width: 0.375em;
     height: 0.375em;
     top: 0.937em;
     left: 1.375em;
   }
   
   .theme-switch__spot:nth-last-of-type(3) {
     width: 0.25em;
     height: 0.25em;
     top: 0.312em;
     left: 0.812em;
   }
   
   .theme-switch__clouds {
     width: 1.25em;
     height: 1.25em;
     background-color: var(--clouds-color);
     border-radius: var(--container-radius);
     position: absolute;
     bottom: -0.625em;
     left: 0.312em;
     -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
     box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
     -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
     -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
     transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
   }
   
   .theme-switch__stars-container {
     position: absolute;
     color: var(--stars-color);
     top: -100%;
     left: 0.312em;
     width: 2.75em;
     height: auto;
     -webkit-transition: var(--transition);
     -o-transition: var(--transition);
     transition: var(--transition);
   }
   
   /* actions */
   
   .theme-switch__checkbox:checked + .theme-switch__container {
     background-color: var(--container-night-bg);
   }
   
   .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
     left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
   }
   
   .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
     left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
   }
   
   .theme-switch__circle-container:hover {
     left: calc(var(--circle-container-offset) + 0.187em);
   }
   
   .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
     -webkit-transform: translate(0);
     -ms-transform: translate(0);
     transform: translate(0);
   }
   
   .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
     bottom: -4.062em;
   }
   
   .theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
   }